{% extends 'base.html' %}

{% block title %}Головна - SchoolHub{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header bg-white">
        <h4 class="mb-0">Вітаємо, {{ request.user.first_name|default:request.user.username }}!</h4>
    </div>
    <div class="card-body">
        {% if task %}
            <h5 class="card-title">Ваш розклад на сьогодні:</h5>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Час</th>
                            <th scope="col">Предмет</th>
                            <th scope="col">Вчитель</th>
                            <th scope="col">Кабінет</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lesson in task %}
                        <tr>
                            <td>{{ lesson.time }}</td>
                            <td>{{ lesson.subject }}</td>
                            <td>{{ lesson.teacher.get_full_name }}</td>
                            <td>{{ lesson.classroom }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="card-text">На сьогодні у вас немає запланованих уроків або ваш розклад ще не додано.</p>
        {% endif %}
    </div>
</div>
{% endblock %}